<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="css/pure-min.css" rel="stylesheet">
    <link href="css/simple.css" rel="stylesheet">
    <title>AOS Profile Checker</title>
  </head>
  <body>
    <form class="pure-form pure-form-aligned" method="post">
      <fieldset>
        <legend>AOS Profile Checker</legend>
        <div class="content">
          <div class="pure-control-group <%= redhat_status %>">
            <label for="redhat_id">Red Hat Email</label>
            <input id="redhat_id" name="redhat_id" type="text" placeholder="Red Hat ID" class="pure-u-1-2" required="" <% if redhat_id %>value="<%= redhat_id %>"<% end %> >
            <% if redhat_reasons.any? %>
              <div class="aos-form-message">One or more errors occured checking your Red Hat Email:
                <ul>
                  <% redhat_reasons.each do |reason| %>
                    <li><%= reason %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
          <div class="pure-control-group <%= github_status %>" id="form-github-section">
            <label for="github_id">GitHub ID</label>
            <input id="github_id" name="github_id" type="text" placeholder="GitHub ID" class="pure-u-1-2" <% if github_id %>value="<%= github_id %>"<% end %> >
            <% if github_reasons.any? %>
              <div class="aos-form-message">One or more errors occured checking your GitHub Profile:
                <ul>
                  <% github_reasons.each do |reason| %>
                    <li><%= reason %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
          <div class="pure-control-group <%= trello_status %>" id="form-trello-section">
            <div>
              <label for="trello_id">Trello ID</label>
              <output name="trello_id" id="trello_id" class="pure-u-1-2<% if !trello_id %> need-input<% end %>">
                <% if trello_id %>
                  <a href="https://trello.com/<%= trello_id %>"><%= trello_id %></a>
                <% else %>
                  Requires Red Hat Email
                <% end %>
              </output>
            </div>
            <% if trello_fullname %>
              <div>
                <label for="trello_fullname">Trello Full Name</label>
                <output name="trello_fullname" id="trello_fullname" class="pure-u-1-2">
                  <%= trello_fullname %>
                </output>
              </div>
            <% end %>
            <% if trello_org_member %>
              <div class="aos-form-message">
                Your Trello account is already a member of <%= trello_org %>
              </div>
            <% end %>
            <% if trello_reasons.any? %>
              <div class="aos-form-message">One or more errors occured checking your Trello Profile:
                <ul>
                  <% trello_reasons.each do |reason| %>
                    <li><%= reason %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
          <label for="do_check"></label>
          <button id="do_check" name="do_check" class="btn btn-primary">Check IDs</button>
        </div>
      </fieldset>
    </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>
